*{
    margin: 0;
}
body{

    font-family: "Poppins", sans-serif;  
    background-color: #1f1f1f;
    
}
header {
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 18px;
}
h1{
    font-size: 25px;
    color: #c8cacd;
    text-align: start;
    margin-left: 20px;
}
.sobre{
    font-size: 17px;
    color: #c8cacd ;
    text-align: right ;
    margin-right: 10px;
}
img{
    margin-left: 1000px;
    width: 350px;
    height: 450px;
    box-shadow: #c8cacd;
    border-radius: 50px;
}
p{
    margin-left: 75px;
    font-size: 22px;
    color: #d6dfec;
    position: relative;
    top: -400px;
}
a{
    color: #637fb9;
    font-size: 20px;
    position: relative;
    top: -300px;
    margin-left: 80px;
}
hr {
  border-color: #4b5563;
  border-width: 1px;
  border-style: solid;
}
.hab{
    color: #d6dfec;
    font-size: 50px;
    margin-left: 80px;
}